*{
    padding: 0;
    margin: 0;
}

#my-chat {
    display: flex;
    flex-flow: column;
    padding: 1em;
}

#my-chat {
    display: flex;
    flex-flow: column;
    padding: 1em;
}

#chat-window{
    height: 400px;
}